@model TechJobsPersistentAutograded.ViewModels.AddJobViewModel

<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">

    <div class="form-group">

        <label asp-for="Name">Job Title</label>
        <input asp-for ="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class = "form-group">
        <label asp-for="EmployerId">Employer</label>
        <select class="form-control" asp-for="EmployerId" asp-items="@Model.Employers"></select>
        <span asp-validation-for="EmployerId">Emp</span>
        <p>
            <a asp-asp-controller="Employer" asp-action="Add">Add New Employer</a>
        </p>
    </div>
  
    <div class="form-group">
        <label asp-for="SkillId">Select the Skills</label>
        @foreach(SelectListItem item in Model.JobSkills)
        {
            <li>
                <input name="selectedSkills" value=@item.Value type="checkbox" />@item.Text
            </li>
        }
    </div>
    @*<div>
        <a asp-asp-controller="Employer" asp-action="Add" >Add Employer</a>
    </div>*@

    <input type="submit" value="Add Job" />

</form>


